__pycache__/
*.py[cod]

data/
saved_model/
saved_model_master/
result.csv
result_master.csv

images/*
!images/.gitkeep

results/*
!results/.gitkeep

models/checkpoints/*
!models/checkpoints/.gitkeep

models/training/*
!models/training/.gitkeep
